<h1><%= t('.name') %></h1>
<div class="task_show">
  <h2><%= t('.title') %>: <%= @task.title %></h2><br>
  <h3><%= t('.content') %>: <%= @task.content %></h3><br>
  <h4><%= link_to t('.return'), tasks_path %></h4>
</div>
